.app-select {
  box-sizing: content-box;
  display: block;
  position: relative;
  width: 100%;
  min-height: 40px;
  text-align: left;
  color: #35495e;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background: #fff;
  font-size: 14px;
}

.app-select__element {
  min-height: 40px;
}

.multiselect__tags-wrap{
  position: relative;
}

.multiselect__option {
  position: relative;
}

.multiselect__option > span {
  display: block;
  width: fit-content;
}

.multiselect__option--highlight-deselect {
  background-color: rgb(235, 79, 79);
}

.multiselect__option--highlight-deselect > span {
  color: #fff;
}

.multiselect__note--deselect {
  position: absolute;
  right: 8px;
  font-weight: 300;
}

.multiselect__clear{
  position: absolute;
  top: 14px;
  right: 40px;
  cursor: pointer;
}
